<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/techEvents/techCard.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Document</title>
  </head>
  <body>
    <section style="padding-bottom: 5rem; height: 100vh">
      <div class="tech_event_title">Tech Events</div>
      <div class="wrapper_cards">
        <div class="flex_wrapper">
          <div class="outer_card">
            <div class="inner_card"></div>
            <div class="inner_elipse"></div>
            <div class="inner_star"></div>
            <div class="inner_image"></div>
            <span class="inner_vertical_text"
              ><span id="inner_vertical_text_small">CODEX</span></span
            >
            <div class="div_1">
              <div class="div_2">
                <div class="inner_button"></div>
                <span class="inner_button_text">View More</span>
              </div>
            </div>
            <span class="inner_description"
              >Lorem Ipsum Lorem Ipsum lorem Lorem Ipsum
            </span>
          </div>
        </div>
        <div class="flex_wrapper">
          <div class="outer_card">
            <div class="inner_card"></div>
            <div class="inner_elipse"></div>
            <div class="inner_star"></div>
            <div class="inner_image"></div>
            <span class="inner_vertical_text">TECHNUTZ</span>
            <div class="div_1">
              <div class="div_2">
                <div class="inner_button"></div>
                <span class="inner_button_text">View More</span>
              </div>
            </div>
            <span class="inner_description"
              >Lorem Ipsum Lorem Ipsum lorem
            </span>
          </div>
        </div>
        <div class="flex_wrapper">
          <div class="outer_card">
            <div class="inner_card"></div>
            <div class="inner_elipse"></div>
            <div class="inner_star"></div>
            <div class="inner_image"></div>
            <span class="inner_vertical_text"
              ><span id="inner_vertical_text_small">WEBDEV</span></span
            >
            <div class="div_1">
              <div class="div_2">
                <div class="inner_button"></div>
                <span class="inner_button_text">View More</span>
              </div>
            </div>
            <span class="inner_description"
              >Lorem Ipsum Lorem Ipsum lorem
            </span>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
