<section
  style="
    padding-bottom: 5rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
  "
  id="tech-cards"
>
  <div class="tech_event_title">Tech Events</div>
  <div class="wrapper_cards">
    <div class="flex_wrapper">
      <a href="./Events/codeX">
        <div class="outer_card">
          <div class="inner_card"></div>
          <div class="inner_elipse"></div>
          <div class="inner_star"></div>
          <div class="inner_image"></div>
          <span class="inner_vertical_text"
            ><span id="inner_vertical_text_small">CODEX</span></span
          >
          <div class="div_1">
            <div class="div_2">
              <div class="inner_button"></div>
              <span class="inner_button_text">View More</span>
            </div>
          </div>
          <span class="inner_description"
            >Lorem Ipsum Lorem Ipsum lorem Lorem Ipsum
          </span>
        </div>
      </a>
    </div>
    <div class="flex_wrapper">
      <a href="./Events/techNutz">
        <div class="outer_card">
          <div class="inner_card"></div>
          <div class="inner_elipse"></div>
          <div class="inner_star"></div>
          <div class="inner_image"></div>
          <span class="inner_vertical_text">TECHNUTZ</span>
          <div class="div_1">
            <div class="div_2">
              <div class="inner_button"></div>
              <span class="inner_button_text">View More</span>
            </div>
          </div>
          <span class="inner_description">Lorem Ipsum Lorem Ipsum lorem </span>
        </div>
      </a>
    </div>
    <div class="flex_wrapper">
      <a href="./Events/webDev">
        <div class="outer_card">
          <div class="inner_card"></div>
          <div class="inner_elipse"></div>
          <div class="inner_star"></div>
          <div class="inner_image"></div>
          <span class="inner_vertical_text"
            ><span id="inner_vertical_text_small">WEBDEV</span></span
          >
          <div class="div_1">
            <div class="div_2">
              <div class="inner_button"></div>
              <span class="inner_button_text">View More</span>
            </div>
          </div>
          <span class="inner_description">Lorem Ipsum Lorem Ipsum lorem </span>
        </div>
      </a>
    </div>
  </div>
</section>
