<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <canvas
      class="canvas"
      style="width: 100%; height: 100%; position: fixed"
      id="canvas"
    ></canvas>
    <header>
      <nav>
        <div class="nav-content">
          <div class="logo-div">
            <a href="/" class="logo">
              <object
                width="65"
                height="65"
                data="Assets/svgs/logo.svg"
                display="block"
              ></object>
            </a>
          </div>

          <div class="nav-icon">
            <div class="bar one"></div>
            <div class="bar two"></div>
            <div class="bar three"></div>
          </div>

          <div class="nav-links">
            <a href="/Home">Home</a>
            <a href="/AboutUs">AboutUs</a>
            <a href="/Riddler">Riddler</a>
            <a href="#tech-cards">TechEvents</a>
            <a href="#gaming">Gaming</a>
            <% if (user) { %>
            <a>Welcome, <%= user.name %></a>
            <a href="/api/logout" onclick="logout()">Log out</a>
            <% } else { %>
            <a href="/Login">Log in</a>
            <% } %>
            <!-- <a href="./Login">Login</a>
            <a href="/api/logout">Logout</a> -->
          </div>
        </div>
      </nav>
      <div class="banner">
        <h1 class="banner-title unselectable" id="banner-title1">Ziegers</h1>
        <img
          src="/Assets/svgs/Saturn.svg"
          class="unselectable"
          alt="saturn-svg"
          id="saturn"
        />
        <img
          src="/Assets/svgs/astronaut.svg"
          alt="astronaut-svg"
          id="astronaut"
        />
        <img src="/Assets/svgs/rope2.svg" alt="" id="rope" />
      </div>
      <div class="banner" id="banner-2">
        <img src="/Assets/svgs/Asteroid.svg" alt="asteroid-svg" id="asteroid" />
        <h1 class="banner-title unselectable" id="banner-title2">
          Up to the Challenge ?
        </h1>
        <h3 class="banner-desc" id="banner-desc1">
          Who doesn't love brain teasers and challenging riddles? If you think you're already a pro at solving tricky riddles, put yourself to the test with these and find out!
        </h3>
        <a href="/Riddler">
          <button class="button" id="banner-button">
            Explore <i class="fas fa-chevron-right"></i>
          </button>
        </a>
      </div>
    </header>
    <script src="/scripts/header/client.js" type="module"></script>
  </body>
</html>
