<head>
    <link rel="stylesheet" href="/css/events/valorant.css" />
</head>
<section style="
    width: 100%;
    padding: 5rem 0rem;
    min-height: 40vh;
    background-color: white;
  ">
    <div class="section-container">
        <h1 class="section-header">Event Overview</h1>
        <div class="content-overview">
            <h3 class="section-desc">
                This event consists of two modes one is the Battle royale( classic ) matches and other is
                TDM. The event will be held online and the registeration can be done from the link below. The
                registration fees for classic match are 20Rs per person for both of the modes. People who are registered
                solo
                will be paired with the team which require teamates.
            </h3>
        </div>
    </div>
</section>
<section style="
    width: 100%;
    padding: 0rem 0rem 5rem 0rem;
    min-height: 40vh;
    background-color: white;
  " id="participation">
    <div class="section-container">
        <h1 class="section-header">Participate In</h1>
        <div class="chess-enroll">
            <div class="chess-enroll-container">

                <h1>Battle Royale</h1>
                <div class="chess-enroll-desc">
                    <p>Price: 80Rs per squad</p>
                    <p>Price: 20Rs per person</p>

                    <p>Max-Players: 4</p>
                </div>


                <div class="chess-button-container">
                    <a href="#" class="chess-button">Enroll Now</a>
                </div>
            </div>



            <div class="chess-enroll-container">
                <h1>TDM</h1>
                <div class="chess-enroll-desc">
                    <p>Price: 80Rs per squad</p>

                    <p>Price: 20Rs per person</p>
                    <p>Max-Players: 4</p>
                </div>
                <div class="chess-button-container">
                    <a href="#" class="chess-button">Enroll Now</a>
                </div>
            </div>


        </div>
    </div>
</section>
<section style="
    width: 100%;
    min-height: 80vh;
    padding: 0rem 0rem 5rem 0rem;
    background-color: white;
  ">
    <div class="section-container">
        <h1 class="section-header">RuleBook</h1>
        <div class="content-overview" id="rule-container">
            <h3 class="rule">
                <span class="rule-heading">1. </span>
                The passwords and id of room will be given 10 minutes before the match starts everyone has to join the
                room on time and if you don't join you room will not be restarted.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">2. </span>
                If you are caught with any malicious activity then we will not allow your entire team to play the
                further games and also will not the registration money.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">3. </span>
                If you are randomly assigned the team by us and your teammate is an hacker we will be giving you an another chance.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">4. </span>
                The timing rules of the room creation will be same for both the modes.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">5. </span>
                If you get disconnected because of the internet or any issue from your side it's your lookout, we won't be restarting the game or giving you an another chance.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">5. </span>
                You have to download all the maps in classic and tdm, if you haven't downloaded the map and you get kicked for not downloading we will be giving just one another chance.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">6. </span>
                All the further rules and communication will be done through whatsapp and if you have any problem or issue you can communicate with us.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">7. </span>
                Players can only use their mobiles, players are not allowed to use emulators.
            </h3>

        </div>

    </div>
    </div>
</section>