<head>
    <link rel="stylesheet" href="/css/events/valorant.css" />
  </head>
  <section
      style="
        width: 100%;
        padding: 5rem 0rem;
        min-height: 90vh;
        background-color: white;
      "
    >
      <div class="section-container">
        <h1 class="section-header">Event Overview</h1>
        <div class="content-overview">
          <div
            class="image-holder"
            id="image-holder"
            style="background-image: url('/Assets/images/chess-tree.jpeg');"
          ></div>
          <h3 class="section-desc" id="section-desc">
            Chess is a two-player board game played on a chessboard (a
            square-checkered board with 64 squares arranged in an eight-by-eight
            grid). In a chess game, each player begins with sixteen pieces: one
            king, one queen, two rooks, two knights, two bishops, and eight
            pawns. The object of the game is to checkmate the opponent's king,
            whereby the king is under immediate attack (in "check") and there is
            no way to remove or defend it from attack, or force the opposing
            player to forfeit.
            <br />
            <br />
            The shown bracket will be played in a knockout format for e.g.
            consider 16 players for the chess Tournament which will be divided
            into eight-finals, four-Quarter finals,2-semi-finals & finals
          </h3>
        </div>
      </div>
    </section>
    <section
      style="
        width: 100%;
        padding: 0rem 0rem 5rem 0rem;
        min-height: 100vh;
        background-color: white;
      "
      id="participation"
    >
      <div class="section-container">
        <h1 class="section-header">Participate In</h1>
        <div
          class="content-overview section-banner"
          id="single-banner"
          style="
            background-image: url(/Assets/images/chess-banner.jpeg);
            width: 100%;
          "
        >
          <div class="banner-container">
            <h1 class="banner-header unselectable">
              Tournament <br />
              Mode
            </h1>
            <div class="banner-details">
              <div class="inner">
                <h3 class="section-banner-desc unselectable">
                  Price: 30per person
                </h3>
              </div>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYDaMGMlLSs6d4HMYGI3JA2A4yi2JCoXMGq8_i9OuxMuU8XQ/viewform?usp=sf_link" style="max-width: 7cm">
                <div class="banner-button">
                  <div>
                    <h3 class="unselectable">Participate Now</h3>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      style="
        width: 100%;
        min-height: 80vh;
        padding: 0rem 0rem 5rem 0rem;
        background-color: white;
      "
    >
      <div class="section-container">
        <h1 class="section-header">RuleBook</h1>
        <div class="content-overview" id="rule-container">
          <h3 class="rule">
            <span class="rule-heading">1. </span>
            Chess participants must make all the moves in any game! Accepting
            outside help (like computers, parents or siblings) is prohibited!
          </h3>
          <h3 class="rule">
            <span class="rule-heading">2.</span>
            Be polite and play with respect and dignity. This includes the chat
            feature online.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">3.</span>
            Finish what you start. Whatever game you start, stay engaged, even
            if you are not winning. Even when game/tournament time is about to
            expire keep making moves.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">4. </span>
            Take your time and think about your moves carefully. In some timed
            games an extra 5 (or 10) seconds are added to your time for each
            move. Find the right balance between thinking about your moves and
            making your moves.
          </h3>
          
        </div>
      </div>
    </section>