<head>
  <link rel="stylesheet" href="/css/events/valorant.css" />
</head>
<section
  style="
    width: 100%;
    padding: 5rem 0rem;
    min-height: 90vh;
    background-color: white;
  "
>
  <div class="section-container">
    <h1 class="section-header">Event Overview</h1>
    <div class="content-overview">
      <h3 class="section-desc">
        If you think you can manage your semicolons and your bugs well then this
        is for you where you can think Countless as programming is 90% thinking
        and 10% coding!<br /><br />CODEX brings up to you FOUR MAIN ROUNDS<br /><br />
        <hr />
        <br /><span id="round_title">Round 1 - Recollect it</span
        ><br /><br /><span id="level_title">Level 1 - Fast Fingers</span
        ><br /><br />Participants will be asked some basic MCQ questions based
        on programming.<br /><br />Platform: Kahoot<br />Time Limit: 5 mins.<br /><br /><span
          id="level_title"
          >Level 2 - Spot the bug</span
        ><br /><br />Participants will have to identify the bug(errors) in the
        codes in the given time limit. Participants who finds out the least
        number of errors will be eliminated.<br /><br />Platform: Google
        forms<br />Time Limit: 5 mins.<br /><br />
        <hr />
        <br /><span id="round_title">Round 2- Compile it</span
        ><br /><br />Participants will have to guess the output of the codes in
        the given time limit. Participants who finds out the least number of
        correct outputs will be eliminated.<br /><br />Platform: Google forms<br />Time
        Limit: 10 mins.<br /><br />
        <hr />
        <br /><span id="round_title">Round 3 - Fix it</span
        ><br /><br />Participants will be sent a pdf which will contain one
        jumbled code and a link to the next pdf, participants needs to rearrange
        the code and the rearranged line numbers will be the password to the
        next pdf. By clicking on the link they can open the next pdf and enter
        the password. The final pdf will contain the link for joining google
        meet. First come participants will be selected for next round.<br /><br />Platform:
        Zoom<br />Time Limit: 10 mins.<br /><br />
        <hr />
        <br /><span id="round_title">Round 4 - Code it</span
        ><br /><br />Questions will be given and participants have to write the
        optimum code for it. They can use any idle. The one who writes the most
        optimum solution will be announced as the winner.<br /><br />Platform:
        Google forms<br />Time Limit: 10 mins.<br /><br />
        <hr />
        <br /><span id="round_title">Tie Breaker - Buzzer round</span
        ><br /><br />If there is any tie between two participant's scores then a
        tie breaker round will be conducted. Participants will be asked common
        questions based on programming the one who press the buzzer first will
        get the chance to answer the question. The participants will get one
        point for each right answer. If the participant presses the buzzer and
        gives the wrong answer then the point will automatically go to the other
        person. At the end of the round the participant with highest points will
        be announced as the winner.<br /><br />Platform: Google forms<br />Time
        Limit: 10 mins.
        <br />
      </h3>
    </div>
  </div>
</section>
<section
  style="
    width: 100%;
    padding: 0rem 0rem 5rem 0rem;
    min-height: 100vh;
    background-color: white;
  "
  id="participation"
>
  <div class="section-container">
    <h1 class="section-header">Participate In</h1>
    <div
      class="content-overview section-banner"
      id="single-banner"
      style="
        background-image: url('/Assets/images/codex-banner.png');
        width: 100%;
      "
    >
      <div class="banner-container">
        <h1 class="banner-header unselectable">CodeX <br /></h1>
        <div class="banner-details">
          <div class="inner">
            <h3 class="section-banner-desc unselectable"></h3>
            <h3 class="section-banner-desc unselectable">
              Price: 20 per person
            </h3>
          </div>
          <a href="#" style="max-width: 7cm">
            <div class="banner-button">
              <div>
                <h3 class="unselectable">Participate Now</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  style="
    width: 100%;
    min-height: 80vh;
    padding: 0rem 0rem 5rem 0rem;
    background-color: white;
  "
>
  <div class="section-container">
    <h1 class="section-header">RuleBook</h1>
    <div class="content-overview" id="rule-container">
      <h3 class="rule">
        <span class="rule-heading">1</span>
        It is compulsory for all participants to share their screen during the
        event.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">2</span>
        Languages: C , C++ , JAVA , Python, JavaScript
      </h3>
      <h3 class="rule">
        <span class="rule-heading">3</span>
        Participants can select any programming language of their choice from
        the given options.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">4</span>
        The questions for all 3 rounds will be based on the language that the
        participant selects.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">5</span>
        Once a participant has selected a language, they cannot change it during
        the rounds.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">6</span>
        Participants won't be provided with extra timing or chance if they face
        any technical issues on their side.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">7</span>
        Decision taken by the event committee members will be final.
      </h3>
    </div>
  </div>
</section>
