<head>
    <link rel="stylesheet" href="/css/events/valorant.css" />
  </head>
  <section
      style="
        width: 100%;
        padding: 5rem 0rem;
        min-height: 90vh;
        background-color: white;
      "
    >
      <div class="section-container">
        <h1 class="section-header">Event Overview</h1>
        <div class="content-overview">
          <!-- <div
            class="image-holder"
            style="background-image: url('/Assets/images/phoenix-card.jpg')"
          ></div> -->
          <h3 class="section-desc">
            Rocket League is a vehicular soccer video game developed and
            published by Psyonix. Described as "soccer, but with rocket-powered
            cars". The game includes single-player and multiplayer modes that
            can be played both locally and online, including cross-platform play
            between all versions. Players control a rocket-powered car and use
            it to hit a ball that is much larger than the cars towards the other
            team's goal area to score goals, in a way that resembles indoor
            soccer, with elements reminiscent of a demolition derby. Players'
            cars have the ability to jump to hit the ball while in mid-air. The
            players can also pick up a speed boost by passing their cars over
            marked spaces on the field, enabling them to quickly cross the
            field, use the added momentum to hit the ball, or ram into another
            player's car to destroy it; in the latter case, the destroyed car
            respawns moments later on their team's side of the field. A player
            may also use a boost when in the air to propel themselves forward in
            flight, allowing players to hit the ball in the air. Players can
            alter their car's orientation while midair, which combined with
            midair boosting allows for controlled flight. Players can also
            perform quick dodges, causing their car to do a short jump and spin
            in a given direction, which can be used to nudge the ball or gain
            positioning advantage over the other team. Matches are usually five
            minutes long, with a sudden death overtime if the game is tied at
            that point.
          </h3>
        </div>
      </div>
    </section>
    <section
      style="
        width: 100%;
        padding: 0rem 0rem 5rem 0rem;
        min-height: 100vh;
        background-color: white;
      "
      id="participation"
    >
      <div class="section-container">
        <h1 class="section-header">Participate In</h1>
        <div
          class="content-overview section-banner"
          id="single-banner"
          style="
            background-image: url(/Assets/images/rl_banner.jpeg);
            width: 100%;
          "
        >
          <div class="banner-container">
            <h1 class="banner-header unselectable">
              Tournament <br />
              Mode
            </h1>
            <div class="banner-details">
              <div class="inner">
                <h3 class="section-banner-desc unselectable">
                  Price: 30per person
                </h3>
                <h3 class="section-banner-desc unselectable">Player Slot: 1</h3>
              </div>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScr_kQpKq0w3zAT8vexsE8A9jp4lCFwiJu5mC5JNG8a3YNSTQ/viewform?usp=sf_link" style="max-width: 7cm">
                <div class="banner-button">
                  <div>
                    <h3 class="unselectable">Participate Now</h3>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      style="
        width: 100%;
        min-height: 80vh;
        padding: 0rem 0rem 5rem 0rem;
        background-color: white;
      "
    >
      <div class="section-container">
        <h1 class="section-header">RuleBook</h1>
        <div class="content-overview" id="rule-container">
          <h3 class="rule">
            <span class="rule-heading">1. </span>
            To participate in this tournament, players must have the following
            equipment: 
            <br>
            a. Xbox One, PlayStation 4, Nintendo Switch or PC console
            connected to the internet with an online subscription. 
            <br>
            b. Gamer ID
            (Gamertag/PSN Online ID) 
            <br>
            c. Rocket League Username 
            <br>
            d. Rocket League™
            game 
            <br>
            e. Access to communicate on the application, Discord
          </h3>
          <h3 class="rule">
            <span class="rule-heading">2. </span>
            By participating in this tournament, you agree to share your Gamer
            Username with the rest of the participants in the tournament. Your
            first name or Gamer ID will also be used on the Discord™
            Communication
          </h3>
          <h3 class="rule">
            <span class="rule-heading">3. </span>
            Once registration is closed and the number of participants has been
            determined, the tournament layout will be emailed to all
            participants.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">4. </span>
            Communication for the tournament will be held on the Discord app.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">5. </span>
            A team roster will consist of 1 player.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">6. </span>
            Upon completion of the game, each player must take a picture of the
            final score and indicate what team you were. This picture then must
            be posted on the Discord group chat.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">7. </span>
            Games will be five minutes in length, whichever team has the most
            goals at the end of the game is the winner. If tied after five
            minutes, the games will be immediately determined by sudden death
            overtime.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">8. </span>
            Each game will be a best of 3 series. The best of 3 series must be
            played consecutively.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">9. </span>
            Players are strongly discouraged from quitting out of matches during
            play. If a participant intentionally disconnects from the game and
            is not able to reconnect to the game, then a loss will be given to
            the player. This loss will be recorded as a forfeit.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">10. </span>
            If a “player” unintentionally disconnects from the game, the game
            shall continue as played. The disconnected player will attempt to
            rejoin the game as soon as possible. If the player cannot rejoin,
            the game will continue as it is.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">11. </span>
            If a “team” unintentionally disconnects from the game and is not
            able to reconnect, the following will happen:
            <br>
            a. Disconnected with
            30 seconds or less left of Game Clock: If the losing team
            disconnects, the game will be considered complete. If the winning
            team unintentionally disconnects or if the game is tied, follow
            option “b”. 
            <br>
            b. Disconnected with more than 30 seconds left on Game
            Clock: A new game shall be played. During this new game, both teams
            will work together to adjust the score and game time to match what
            it was at the point of the disconnect. 
            <br>
            c. Teams will allow “free
            goals” until the game score is the back to where it should be. Once
            the score is correct, do not resume play until the game clock is
            correct as well. This means each car should remain in their starting
            position with the ball at the middle of the field. Once the game
            clock is correct, play can resume.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">12. </span>
            The Recreation Supervisor will send through WhatsApp prior to the
            start of the tournament for all of the tournament details. The rest
            of the communication will be through the Discord app.
          </h3>
          <h3 class="rule">
            <span class="rule-heading">13. </span>
            At the beginning of the tournament, the Admin will invite you to
            join the Discord group chat.
          </h3>
        </div>
      </div>
    </section>