<head>
    <link rel="stylesheet" href="/css/events/valorant.css" />
  </head>
  <section
  style="
    width: 100%;
    padding: 5rem 0rem;
    min-height: 90vh;
    background-color: white;
  "
>
  <div class="section-container">
    <h1 class="section-header">Event Overview</h1>
    <div class="content-overview">
      <!-- <div
        class="image-holder"
        style="background-image: url(codex-image.png)"
      ></div> -->
      <h3 class="section-desc">
        TechNutz: a fun event for people with quick thinking and good
        general knowledge. There are total 3 rounds in TechNutz wherein
        round 1 consists of 4 levels, round 2 and 3 consists of 1 level
        each.<br /><br />
        <hr />
        <br /><span id="round_title">Level 1: (Round 1 - Round 4)</span
        ><br /><br />For clearing Level 1, you're expected to pass 4 rounds
        <br /><br /><span id="level_title">Round 1: WORD4PIC</span
        ><br /><br />You will be expected to provide a word which describes
        all four images which will be displayed in front of you within a
        given time constraint. Participants will be asked 3 questions in
        this round, maximum 2 points provided per question.<br />
        <br /><span id="level_title">Round 2: SCENE IT?</span
        ><br /><br />You will be expected to guess the Movie name/ Character
        name with the help of clues displayed within the provided time
        limit. Participants will be asked 2 questions in this round, maximum
        2 points provided per question.<br /><br />
        <span id="level_title">Round 3: LOGOMANIA</span><br /><br />You will
        be expected to guess the correct logo amidst a set of incorrect
        logos of famous brands within a time limit. Participants will be
        asked 2 questions in this round, maximum 2 points provided per
        question.<br /><br />
        <span id="level_title">Round 4: SONG BLUFF</span><br /><br />You
        will be asked to guess names of HINDI SONGS with the help of their
        literal english translation. Participants will only be asked a
        single question in this round, maximum of 2 points provided<br /><br />
        <hr />
        <br />
        <span id="round_title">Level 2: BINGO BLITZ</span><br /><br />In
        this level, participants will be playing BINGO, but a tricky one!
        Participants will be provided with a unique 4X4 BINGO matrix and
        they will be assigned with a volunteer as well. Bingo matrix will be
        provided to tha participants and will be assigning a volunteer. Any
        random participant will be selected to call out a number.
        Participants can only scratch off the numbers if they answer an
        assigned GK question to their individual volunteers. All
        participants are required to answer the question assigned to the
        grid to their assigned volunteers personally within a time limit.
        <br /><br />
        <hr />
        <br /><span id="round_title">Level 3: LOCK AND KEY</span
        ><br /><br />In this Level, you will just have to open PDFs! but is
        it gonna be that simple? Participants will be provided with riddles
        in the pdf files, and the answer to the riddle, will be the key to
        decode the next pdf, and the one who decodes the last pdf and enters
        the whatsapp group or a meeting will be considered as the final
        winner!<br /><br /><br />What are you waiting for?! Register
        yourself below and join in to win amazing cash prices!
      </h3>
    </div>
  </div>
</section>
<section
  style="
    width: 100%;
    padding: 0rem 0rem 5rem 0rem;
    min-height: 100vh;
    background-color: white;
  "
  id="participation"
>
  <div class="section-container">
    <h1 class="section-header">Participate In</h1>
    <div
      class="content-overview section-banner"
      id="single-banner"
      style="background-image: url(/Assets/images/techNutz-banner.jpeg); width: 100%"
    >
      <div class="banner-container">
        <h1 class="banner-header unselectable">TechNutz<br /></h1>
        <div class="banner-details">
          <div class="inner">
            <h3 class="section-banner-desc unselectable"></h3>
            <h3 class="section-banner-desc unselectable">
              Price: 25 per person
            </h3>
          </div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfNuQidLD-3KgYNRuFn0u0wiTQRT3eoNKRQA6e-ROHyVQsgdg/viewform?usp=sf_link" style="max-width: 7cm">
            <div class="banner-button">
              <div>
                <h3 class="unselectable">Participate Now</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  style="
    width: 100%;
    min-height: 80vh;
    padding: 0rem 0rem 5rem 0rem;
    background-color: white;
  "
>
  <div class="section-container">
    <h1 class="section-header">RuleBook</h1>
    <div class="content-overview" id="rule-container">
      <h3 class="rule">
        <span class="rule-heading">1.</span>
        Participants will be playing a series of games consisting of 3
        Rounds.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">2.</span>
        Games will be conducted on Zoom App.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">3.</span>
        Participants are required to keep their cameras on at all times.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">4.</span>
        There will be a time constraint in each round, the answers provided
        within the time limit will be considered.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">5.</span>
        Participants will have to rename their ZOOM IDs to their provided
        registration ID.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">6.</span>
        All participants will be briefed about all the games and their
        respective rules a day before the main event and their individual
        doubts will be solved.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">7.</span>
        Kindly refer to the overview for the detailed description of the
        events
      </h3>
      <h3 class="rule">
        <span class="rule-heading">8.</span>
        The final decision will be purely based on our defined set of rules.
      </h3>
    </div>
  </div>
</section>