<head>
  <link rel="stylesheet" href="/css/events/valorant.css" />
</head>
<section
  style="
    width: 100%;
    padding: 5rem 0rem;
    min-height: 90vh;
    background-color: white;
  "
>
  <div class="section-container">
    <h1 class="section-header">Event Overview</h1>
    <div class="content-overview">
      <div
        class="image-holder"
        style="background-image: url('/Assets/images/phoenix-card.jpg')"
      ></div>
      <h3 class="section-desc">
        The registered teams are drawn into brackets which will eventually lead
        to semi finals and finals. Teams play 5v5 and alternate between an
        attacking side and a defending side. One half consists of 12 rounds, and
        the team that wins 13 rounds wins the game. This means that there is a
        possibility you don’t play out the second half completely. In the event
        of a draw, overtime is triggered where teams alternate once between
        attack and defense. In case of the multiple draws in overtime teams can
        mutually decide to split the price money but this is applicable only in
        finals.
      </h3>
    </div>
  </div>
</section>
<section
  style="
    width: 100%;
    padding: 0rem 0rem 5rem 0rem;
    min-height: 100vh;
    background-color: white;
  "
  id="participation"
>
  <div class="section-container">
    <h1 class="section-header">Participate In</h1>
    <div
      class="content-overview section-banner"
      id="single-banner"
      style="
        background-image: url(/Assets/images/TournamentModeBanner.jpg);
        width: 100%;
      "
    >
      <div class="banner-container">
        <h1 class="banner-header unselectable">
          Tournament <br />
          Mode
        </h1>
        <div class="banner-details">
          <div class="inner">
            <h3 class="section-banner-desc unselectable">
              Price: 20per person
            </h3>
            <h3 class="section-banner-desc unselectable">Player Slot: 5</h3>
          </div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScCTBJQo7OHTW1SRWvph5sicO3MmaCk7M2hJrFamHg6PGibJQ/viewform?usp=sf_link" style="max-width: 7cm">
            <div class="banner-button">
              <div>
                <h3 class="unselectable">Participate Now</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  style="
    width: 100%;
    min-height: 80vh;
    padding: 0rem 0rem 5rem 0rem;
    background-color: white;
  "
>
  <div class="section-container">
    <h1 class="section-header">RuleBook</h1>
    <div class="content-overview" id="rule-container">
      <h3 class="rule">
        <span class="rule-heading">1. Eligibility: </span>
        All members of a roster must have their Riot account in good standing.
        This includes not being banned, chat banned, or restricted in any way
        due to toxicity, breaking game rules, or not complying with Riot’s code
        of conduct. This competition is not affiliated with or sponsored by Riot
        Games, Inc. or VALORANT Esports.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">2. Competition Structure and Dates: </span>
        All matches will consist of a “Best of 1” system . The captain of each
        team must check in for their match 15 minutes before their scheduled
        match time. Failure to do so could result in losing “in-game pause time”
        or disqualification. Any team that checks in on time but fails to join
        the lobby more than 10 minutes after the scheduled start time, will be
        disqualified.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">3. Gameplay Rules and Format: </span
        ><br /><br />
        <span id="round_title">Lobby Rules:</span><br />
        - Mode: Standard <br />
        - Allow Cheats: Off <br />
        - Tournament Mode: On <br />
        - Overtime: Win by Two: On <br />
        - Team Size: Five (5) <br />
        - All Matches will be played on the latest patch. <br />
        <br />
        <hr />
        <br />
        <span id="round_title">Map Pool:</span><br />
        - Bind <br />
        - Haven <br />
        - Split <br />
        - Ascent <br />
        - Icebox <br />
        - Breeze <br />
        - Fracture <br />
        <br />
        <hr />
        <br />
        <span id="round_title">Map Pool:</span><br />
        After the completion of a match, the score must be reported by the
        winning team to a tournament administrator, with a screenshot of the
        scoreboard. If there is a dispute with a match score or result, a
        tournament administrator must be contacted immediately. Each team will
        have five (5) minutes of pause time each map to address technical delays
        or disconnections. Teams will only be allowed to pause during the buy
        phase of a round. Pausing at any other time or for any reason deemed
        unreasonable by a tournament administrator can result in forfeiture of
        rounds or the map. Both teams may agree to restart a map prior to Round
        1 beginning if the latency is unreasonable for the server selected.
        Games or sets are not to be replayed due to a misinterpretation of the
        rules OR misconfiguration of game settings, excluding player-specific
        settings.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">4.Player Conduct: </span>
        Any team member who breaks Riot’s code of conduct, which prohibits the
        use of sexism, racism, hate speech, targeted harassment, or any other
        behaviour of discrimination, will be immediately disqualified from the
        tournament. Any team member who is displaying excessive toxic behaviour
        during matches may also be disqualified at the discretion of a
        tournament administrator. To report a player for breaking this conduct,
        please send a screenshot of the offending behaviour to a tournament
        administrator. Players suspected of colluding may be immediately
        disqualified from the tournament. This includes intentionally throwing a
        game, splitting a payout/prizes(s), or committing any other form of
        bracket manipulation. In all competitions there should be a fair playing
        field for all players.
      </h3>
    </div>
  </div>
</section>
