<head>
  <link rel="stylesheet" href="/css/events/valorant.css" />
</head>
<section
  style="
    width: 100%;
    padding: 5rem 0rem;
    min-height: 90vh;
    background-color: white;
  "
>
  <div class="section-container">
    <h1 class="section-header">Event Overview</h1>
    <div class="content-overview">
      <div
        class="image-holder"
        style="background-image: url('/Assets/images/phoenix-card.jpg')"
      ></div>
      <h3 class="section-desc">
        The registered teams are drawn into brackets which will eventually lead
        to semi finals and finals. Teams play 5v5 and alternate between an
        attacking side and a defending side. One half consists of 12 rounds, and
        the team that wins 13 rounds wins the game. This means that there is a
        possibility you don’t play out the second half completely. In the event
        of a draw, overtime is triggered where teams alternate once between
        attack and defense. In case of the multiple draws in overtime teams can
        mutually decide to split the price money but this is applicable only in
        finals.
      </h3>
    </div>
  </div>
</section>
<section
  style="
    width: 100%;
    padding: 0rem 0rem 5rem 0rem;
    min-height: 100vh;
    background-color: white;
  "
>
  <div class="section-container">
    <h1 class="section-header">Participate In</h1>
    <div
      class="content-overview section-banner"
      id="single-banner"
      style="
        background-image: url(/Assets/images/TournamentModeBanner.jpg);
        width: 100%;
      "
    >
      <div class="banner-container">
        <h1 class="banner-header unselectable">
          Tournament <br />
          Mode
        </h1>
        <div class="banner-details">
          <div class="inner">
            <h3 class="section-banner-desc unselectable">
              Price: 20per person
            </h3>
            <h3 class="section-banner-desc unselectable">Player Slot: 5</h3>
          </div>
          <a href="#" style="max-width: 7cm">
            <div class="banner-button">
              <div>
                <h3 class="unselectable">Participate Now</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  style="
    width: 100%;
    min-height: 100vh;
    padding: 0rem 0rem 5rem 0rem;
    background-color: white;
  "
>
  <div class="section-container">
    <h1 class="section-header">RuleBook</h1>
    <div class="content-overview" id="rule-container">
      <h3 class="rule">
        <span class="rule-heading">Lorem Ipsum: </span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque
        temporibus veniam recusandae praesentium laborum excepturi possimus,
        quia voluptas ullam eveniet, dolore in eum, adipisci vitae dolorum. Qui,
        exercitationem sequi.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">Lorem Ipsum: </span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque
        temporibus veniam recusandae praesentium laborum excepturi possimus,
        quia voluptas ullam eveniet, dolore in eum, adipisci vitae dolorum. Qui,
        exercitationem sequi.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">Lorem Ipsum: </span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque
        temporibus veniam recusandae praesentium laborum excepturi possimus,
        quia voluptas ullam eveniet, dolore in eum, adipisci vitae dolorum. Qui,
        exercitationem sequi.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">Lorem Ipsum: </span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque
        temporibus veniam recusandae praesentium laborum excepturi possimus,
        quia voluptas ullam eveniet, dolore in eum, adipisci vitae dolorum. Qui,
        exercitationem sequi.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">Lorem Ipsum: </span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque
        temporibus veniam recusandae praesentium laborum excepturi possimus,
        quia voluptas ullam eveniet, dolore in eum, adipisci vitae dolorum. Qui,
        exercitationem sequi.
      </h3>
    </div>
  </div>
</section>
