<head>
  <link rel="stylesheet" href="/css/events/valorant.css" />
</head>
<section style="
    width: 100%;
    padding: 5rem 0rem;
    min-height: 60vh;
    background-color: white;
  ">
  <div class="section-container">
    <h1 class="section-header">Event Overview</h1>
    <div class="content-overview">
      <!-- <div
            class="image-holder"
            style="background-image: url(codex-image.png)"
          ></div> -->
      <h3 class="section-desc">
        Time has finally come to give a life to your designing ideas and
        showcase your amazing talent ,so join our website designing event and
        exhibit all your creativity. Afterall Website designing is nothing but a
        form of painting ...except it never dries !! What are you waiting for
        ... Go on unleash your ideas and design a masterpiece !!
        <br /><br />
        Remember , In this event you have to design a website using any platform
        mentioned in the rulebook below. Time limit would be of 2 hours and the
        participant who designs the best web site will be rewarded with a cash
        prize provided if they follow all the rules mentioned in the rulebook.
      </h3>
    </div>
  </div>
</section>
<section style="
    width: 100%;
    padding: 0rem 0rem 5rem 0rem;
    min-height: 100vh;
    background-color: white;
  " id="participation">
  <div class="section-container">
    <h1 class="section-header">Participate In</h1>
    <div class="content-overview section-banner" id="single-banner"
      style="background-image: url('/Assets/images/webDesign-banner.jpeg');">
      <div class="banner-container">
        <h1 class="banner-header unselectable">WebDesign <br /></h1>
        <div class="banner-details">
          <div class="inner">
            <h3 class="section-banner-desc unselectable"></h3>
            <h3 class="section-banner-desc unselectable">
              Price: 25 per person
            </h3>
          </div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfndYdHIoXlG53lQenTC96lBtlWhLhbAtO8iKVi0oaHl-r_vQ/viewform?usp=sf_link" style="max-width: 7cm">
            <div class="banner-button">
              <div>
                <h3 class="unselectable">Participate Now</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="
    width: 100%;
    min-height: 80vh;
    padding: 0rem 0rem 5rem 0rem;
    background-color: white;
  ">
  <div class="section-container">
    <h1 class="section-header">RuleBook</h1>
    <div class="content-overview" id="rule-container">
      <h3 class="rule">
        <span class="rule-heading">1. </span>
        Design a website using any platform like figma, Adobe XD, html css and
        js (anyone of your choice).
      </h3>
      <h3 class="rule">
        <span class="rule-heading">2. </span>
        The event will be conducted over either discord or google meet.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">3. </span>
        Time limit will be of 2 hours.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">4. </span>
        The screen has to be shared for the entire time period.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">5. </span>
        You cannot use images from the internet, you have to photo shop the
        image on your own.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">6. </span>
        The judgement would be based on best designing provided you have
        followed all the above specified rules.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">7. </span>
        For the people using figma, have to design a responsive screen for the
        page as well whereas it's not necessary to do it if you are using html,
        css and javascript.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">8. </span>
        When using tools like Figma or Adobe XD, only limited plugins for the icons are allowed. No others shall be accepted.
      </h3>
      <h3 class="rule">
        <span class="rule-heading">9. </span>
        Participants would have to keep their fonts and assets prepared beforehand and won't be allowed to import them during the event.
      </h3>
    </div>
  </div>
</section>