<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <title>Ziegers - About Us</title>
  </head>
  <body>
    <canvas
      class="canvas"
      style="width: 100%; height: 100%; position: fixed"
      id="canvas"
    ></canvas>
    <header>
      <%- include('./components/navbar/navbar.ejs') -%>
      <div class="banner">
        <h1 class="banner-title unselectable" id="banner-title1">
          Ziegers 2022
        </h1>
        <img
          src="/Assets/svgs/moon.svg"
          alt=""
          class="unselectable"
          id="saturn"
        />
      </div>
    </header>
    <script src="/scripts/header/client.js" type="module"></script>
  </body>
</html>
