<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/Assets/svgs/logo_icon.ico" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <title>Document</title>
  </head>
  <body style="max-height: 100vh; overflow: hidden">
    <header>
      <nav>
        <div class="nav-content">
          <div class="logo-div">
            <a href="/" class="logo">
              <object
                width="65"
                height="65"
                data="Assets/svgs/logo.svg"
                display="block"
              ></object>
            </a>
          </div>

          <div class="nav-icon">
            <div class="bar one"></div>
            <div class="bar two"></div>
            <div class="bar three"></div>
          </div>

          <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">AboutUs</a>
            <a href="#">Riddler</a>
            <a href="#">TechEvents</a>
            <a href="#">Gaming</a>
            <a href="#">Login</a>
          </div>
        </div>
      </nav>
      <canvas class="canvas"></canvas>
    </header>
    <script type="module" src="/scripts/test/test.js"></script>
  </body>
</html>
