<head>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/valorant/valorant.css" />
  <link rel="stylesheet" href="/css/header/header.css" />
  <link rel="stylesheet" href="/css/events/event_header.css" />
</head>
<canvas class="canvas" style="width: 100%; height: 100%; position: fixed" id="canvas"></canvas>
<header>
  <%- include('../navbar/navbar.ejs') -%>
    <div class="event-banner">
      <img src="/Assets/images/Valorant_logo.png" alt="" class="event-logo unselectable" id="valorant_logo" />
      <div class="inner-banner-container">
        <h1 class="event-banner-title unselectable" id="header-title">CodeX</h1>
        <h3 class="event-banner-desc unselectable">
          This is your one stop shop for everything related to coding
          CodeX is a competitive programming platform where beginners can learn alot by their basic algorithm tests
          whereas the experts can show their talent through coding.
        </h3>
        <a href="#participation" style="max-width: 7cm">
          <div class="banner-button">
            <div>
              <h3 class="unselectable">Participate Now</h3>
            </div>
          </div>
        </a>
      </div>

      <img src="/Assets/images/retro_PC.png" alt="astronaut-svg" id="astronaut" class="unselectable" />
      <img src="/Assets/svgs/rope2.svg" alt="" id="rope" class="unselectable" />
    </div>
</header>
<script src="/scripts/test/test.js" type="module"></script>
<script src="/scripts/events/client.js" type="module"></script>