<head>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/valorant/valorant.css" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/events/event_header.css" />
    <link rel="stylesheet" href="/css/events/gamegen.css" />

  </head>
  <canvas
    class="canvas"
    style="width: 100%; height: 100%; position: fixed"
    id="canvas"
  ></canvas>
  <header>
    <%- include('../navbar/navbar.ejs') -%>
    <div class="event-banner">
      <img
        src="/Assets/images/astro-gamepad.png"
        alt=""
        class="event-logo unselectable"
        id="valorant_logo"
      />
      <div class="inner-banner-container">
        <h1 class="event-banner-title unselectable" id="header-title">
          GAMES
        </h1>
        <h3 class="event-banner-desc unselectable">
          Experiment an unique experience because different gamer personalities can mingle with their fellow gamers, and most importantly, show them who is a cut above the rest! <br> <br>
So be ready to call your Teammates and flank on Enemies house , checkmate your opponent, defend your Goal Post or plant your spike!
        </h3>
        <!-- <a href="#participation" style="max-width: 7cm">
          <div>
            <div class="date-timing">
                <h3>Date : 02.03.22</h3>
                <h3>Timing : 23pm</h3>
              </div>
          </div>
        </a> -->
      </div>
  
      <!-- <img
        src="/Assets/images/jett.png"
        alt="astronaut-svg"
        id="astronaut"
        class="unselectable"
      /> -->
      <!-- <img src="/Assets/svgs/rope2.svg" alt="" id="rope" class="unselectable" /> -->
    </div>
  </header>
  <script src="/scripts/test/test.js" type="module"></script>
  <script src="/scripts/events/client.js" type="module"></script>
  