<head>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/valorant/valorant.css" />
  <link rel="stylesheet" href="/css/header/header.css" />
</head>
<header>
  <%- include('../navbar/navbar.ejs') -%>
  <div class="chess-banner-content">
    <div class="chess-banner-title">
      <h1 id="B">V</h1>
      <h1>alorant</h1>
    </div>
    <div class="chess-img-desc">
      <p>
        Valorant is a team-based first-person hero shooter set in the near
        future. Players play as one of a set of Agents, characters designed
        based on several countries and cultures around the world. In the main
        game mode, players are assigned to either the attacking or defending
        team with each team having five players on it.
      </p>
      <img src="/Assets/images/Yoru.png" />
      <!--banner image-->
    </div>

    <div class="chess-button-container">
      <a href="#" class="chess-button">Enroll Now</a>
    </div>
    <div class="chess-timing">
      <h3>Date : 02.03.22</h3>
      <h3>Timing : 23pm</h3>
    </div>
  </div>
</header>
