<!DOCTYPE html>
<html>
<head>
    <title>Event page</title>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <link rel="stylesheet" href="mainpage.css"></link>
    
</head>
<body class="bg-gray-900"> 
    <div class="text-gray-600 body-font overflow-hidden ">
        <div class="container px-5 py-28 mx-auto  relative flex flex-wrap">
          <!-- <div class=" mx-auto flex flex-wrap"> -->
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="../../../public/Assets/svgs/Planet-shaded.svg">
            
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-10 mt-10 lg:mt-10 align-center">
                <div class="relative mb-16 ">
                  
                    <input type="text" id="mobile" name="mobile" placeholder="Phone number" class="w-full  placeholder:text-white  bg-gray-900 border-b-2 outline-none text-white py-1 px-3 leading-8  duration-200 ease-in-out">
                  </div>
                 
                  <div class="relative mb-6 ">
                   
                    <input type="password" id="password" name="password" placeholder="Password" class="w-full placeholder:text-white bg-gray-900 border-b-2 outline-none text-white py-1 px-3 leading-8  duration-200 ease-in-out">
                  </div>
                  <div class="text-center p-3 text-indigo-500">Forgot Password</div>

                  <div class="text-center p-3">
                  <button class="text-black text-center rounded-full bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600  text-lg">Login</button>
                </div>

                  <div class="text-center p-3 text-indigo-500">
                  <p>Don't have an account?</p>
                  <a class="underline pt-3" href="login.html">Sign In</a>
                  </div>
              
            </div>
          </div>
        </div>
      </section>
        
          
        
 
</body>

</html>