@import url('/css/global.css');


header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-title{
    color: white;
    font-family: var(--fs-josef-600);
    font-size: 12em;
    text-align: center;
    text-shadow: 10px 1px black;
}
.flex-column{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.flex-column h3{
    color: white;
    font-family: var(--fs-josef-400);
    margin: 0.5rem auto;
    text-align: center;
}
.hanging-tn{
    position: absolute;
    right: 30%;
    top: -2rem;
    max-height: 50vh;
    width: auto;
    // animation: pop-up 2.3s ease-out;
}
@keyframes pop-up {
   10%{
        transform: translateY(5vh);
    }
    100%{
        transform: translateY(-100vh);
        display: none;
    }
}