@import url("/css/global.css");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav {
  position: absolute;
  top: 0;
}

.header-title {
  color: white;
  font-family: var(--fs-josef-600);
  font-size: 12em;
  text-align: center;
  text-shadow: 10px 1px black;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.flex-column h3 {
  color: white;
  font-family: var(--fs-josef-400);
  margin: 0.5rem auto;
  text-align: center;
}

.hanging-tn {
  position: absolute;
  right: 30%;
  top: -2rem;
  max-height: 50vh;
  width: auto;
}

@-webkit-keyframes pop-up {
  10% {
    -webkit-transform: translateY(5vh);
    transform: translateY(5vh);
  }
  100% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    display: none;
  }
}

@keyframes pop-up {
  10% {
    -webkit-transform: translateY(5vh);
    transform: translateY(5vh);
  }
  100% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    display: none;
  }
}

@media (max-width: 625px) {
  .hanging-tn {
    display: none !important;
  }
  .header-title {
    font-size: 6em;
  }
}

#rulebook {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
  height: 110vh;
}

#rulebook .section-container {
  background-image: linear-gradient(45deg, #422a90 24%, rgba(0, 0, 0, 0.6) 42%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 60%;
  margin: auto;
  border-radius: 10px;
  padding: 1rem 4rem;
  max-height: 65vh;
  overflow: scroll;
}

.modal-display {
  display: none;
}

#rulebook .section-container .section-header {
  color: white;
  font-size: 3em;
  font-family: var(--fs-josef-600);
}

#rulebook .section-container .content-overview {
  margin-bottom: 2rem;
}

#rulebook .section-container .content-overview .rule {
  font-family: var(--fs-poppins-200);
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: white;
  margin: 1rem 0;
}

@media (max-width: 625px) {
  #rulebook {
    height: 120vh;
  }
  #rulebook .section-container {
    width: 95%;
    padding: 1rem 1rem;
    max-height: 80vh;
  }
}

header.questions nav {
  position: fixed;
}

header.questions {
  min-height: 20vh;
  max-height: 100vh;
}

h1.question_number {
  font-size: 4em;
  color: white;
  font-family: var(--fs-josef-600);
  margin: 1rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-shadow: 10px 1px black;
}

.question {
  margin: 2rem auto;
  width: 80%;
}

.question .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2rem auto;
}

.question .flex-container .response-label {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0rem 1rem;
  font-family: var(--fs-josef-400);
  font-size: 2rem;
}

.question .flex-container .response-input {
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  padding: 0px 0px 5px 0px;
  font-size: 1rem;
  margin: 0rem 1rem;
}

.question .flex-container .response-input::-webkit-input-placeholder {
  color: white;
}

.question .flex-container .response-input:-ms-input-placeholder {
  color: white;
}

.question .flex-container .response-input::-ms-input-placeholder {
  color: white;
}

.question .flex-container .response-input::placeholder {
  color: white;
}

.question .flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.question .flex-grid .hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 20px;
  width: 45%;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.question .phone-button {
  display: none;
}

.question .flex-grid .hidden:hover {
  -webkit-filter: brightness(2);
  filter: brightness(2);
}

.question .flex-grid .hint img {
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 768px) {
  .question {
    width: 90%;
  }
}

@media (max-width: 625px) {
  header.questions nav {
    position: absolute;
    top: 0;
  }
  h1.question_number {
    font-size: 2em;
    margin-top: 4rem;
  }
  .question .flex-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .question .flex-container .response-label {
    display: none;
  }
  .question .wide-button {
    display: none;
  }
  .question .phone-button {
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .question .flex-grid .hint {
    width: 90%;
  }
}

#status_emoji {
  max-width: 68px !important;
  height: auto;
}

.shake-animation {
  -webkit-animation: shake 1s ease-out;
  animation: shake 1s ease-out;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=styles.css.map */
