<h1 class="header-title unselectable">Riddler</h1>
<div class="banner-button" id="start_one">
    <div>
        <h3 class="unselectable">Start Game</h3>
    </div>
</div>
<div class="flex-column">
    <h3>Starts: 20th February</h3>
    <h3>Ends: 25th February</h3>
</div>
<object data="/Assets/svgs/hangingTN.svg" type="" class="hanging-tn" id="hangingTN"></object>