<section style="
    width: 100%;
    position: fixed;
    top: 0vh;
    left: 0;
    padding: 0rem 0rem 5rem 0rem;
  " id="rulebook">
    <div class="section-container">
        <h1 class="section-header">RuleBook</h1>
        <div class="content-overview" id="rule-container">
            <h3 class="rule">
                <span class="rule-heading">1. </span>
                Design a website using any platform like figma, Adobe XD, html css and
                js (anyone of your choice).
            </h3>
            <h3 class="rule">
                <span class="rule-heading">2. </span>
                The event will be conducted over either discord or google meet.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">3. </span>
                Time limit will be of 2 hours.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">4. </span>
                The screen has to be shared for the entire time period.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">5. </span>
                You cannot use images from the internet, you have to photo shop the
                image on your own.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">6. </span>
                The judgement would be based on best designing provided you have
                followed all the above specified rules.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">7. </span>
                For the people using figma, have to design a responsive screen for the
                page as well whereas it's not necessary to do it if you are using html,
                css and javascript.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">8. </span>
                When using tools like Figma or Adobe XD, only limited plugins for the icons are allowed. No others shall
                be
                accepted.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">9. </span>
                Participants would have to keep their fonts and assets prepared beforehand and won't be allowed to
                import them
                during the event.
            </h3>
        </div>
        <div class="banner-button" id="start_game">
            <div>
                <h3 class="unselectable">I have read the rules</h3>
            </div>
        </div>
    </div>
</section>