<section style="
    width: 100%;
    position: fixed;
    top: 0vh;
    left: 0;
    padding: 0rem 0rem 5rem 0rem;
  " id="rulebook">
    <div class="section-container">
        <h1 class="section-header">How To Play?</h1>
        <div class="content-overview" id="rule-container">
            <h3 class="rule">
                <span class="rule-heading">1. </span>
                Riddler is a four pic one word Riddle game. Players will be given 4 hidden/covered pics as hints out of
                which one will be open by default.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">2. </span>
                Each riddle carries 10 points and opening a hint results in deduction of 2 points per hint from the
                total 10
                points for the question.
                <span style="color: yellow;">
                    (Example: Opening 1 of the hidden hints will conclude your score to be 8, Opening 2 of the hidden
                    hints
                    will conclude your score to be 6 and opening all hints will conclude your score to be 4 IF ANSWERED
                    CORRECTLY)
                </span>
            </h3>
            <h3 class="rule">
                <span class="rule-heading">3. </span>
                The answers for the riddles will be <span style="color: yellow; font-family: inherit;">'One Word
                    Answers'</span>
            </h3>
            <h3 class="rule">
                <span class="rule-heading">4. </span>
                Progress will be incremented to next riddle only by solving the previous riddle.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">5. </span>
                The questions are meant to be solved before 25th of February.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">6. </span>
                You will be able to see your final score at the end of the game once leaderboards are updated.
            </h3>
            <h3 class="rule">
                <span class="rule-heading">7. </span>
                In case of any <span style="color: red;">network failure </span>from the server or client side, the game
                progress will be <span style="color: red;">decremented automatically </span>by 1, i.e. you will have to
                re-play the previous
                question. In case of any
                issues, contact us.
            </h3>
        </div>
        <div class="banner-button" id="start_game">
            <div>
                <h3 class="unselectable">I have read the rules</h3>
            </div>
        </div>
    </div>
</section>