<head>
  <link rel="stylesheet" href="/css/footer/styles.css" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />
  <script
    src="https://kit.fontawesome.com/d3942c0715.js"
    crossorigin="anonymous"
  ></script>
</head>
<footer id="footer">
  <div class="container-1">
    <div class="row">
      <div class="footer-col sponsors_container">
        <h3>Our Sponsors</h3>
        <ul class="sponsors_name">
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
        </ul>
      </div>
      <div class="footer-col logo">
        <img
          src="/Assets/images/Ziegers Logo - 20-01-2022 - modified (1).png"
          alt=""
          srcset=""
        />
        <div class="social_nedia_icons">
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="footer-col contactUs_container">
        <h3>Contact</h3>
        <ul class="contactDetails_container">
          <li class="contactdetail">
            <p class="contact_name">Lorem Ipsum</p>
            <div class="contact_number">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span href="" class="">263124891394</span>
            </div>
            <div class="contact_email">
              <i class="fa fa-envelope"></i>
              <span href="" class="">admin@gmail.com</span>
            </div>
          </li>
          <li class="contactdetail">
            <p class="contact_name">Lorem Ipsum</p>
            <div class="contact_number">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span href="" class="">263124891394</span>
            </div>
            <div class="contact_email">
              <i class="fa fa-envelope"></i>
              <span href="" class="">admin@gmail.com</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright_container">
    <p class="copyright">&copy; - 2022 Copyright Lorem, ipsum dolor.</p>
  </div>
</footer>
<footer id="footer-2">
  <div class="container-1">
    <div class="row">
      <div class="footer-col logo">
        <img
          src="/Assets/images/Ziegers Logo - 20-01-2022 - modified (1).png"
          alt=""
          srcset=""
        />
        <div class="social_nedia_icons">
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-whatsapp"></i></a>
        </div>
      </div>

      <div class="footer-col contactUs_container">
        <h3>Contact</h3>
        <ul class="contactDetails_container">
          <li class="contactdetail">
            <p class="contact_name">Lorem Ipsum</p>
            <div class="contact_number">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span href="" class="">263124891394</span>
            </div>
            <div class="contact_email">
              <i class="fa fa-envelope"></i>
              <span href="" class="">admin@gmail.com</span>
            </div>
          </li>
          <li class="contactdetail">
            <p class="contact_name">Lorem Ipsum</p>
            <div class="contact_number">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span href="" class="">263124891394</span>
            </div>
            <div class="contact_email">
              <i class="fa fa-envelope"></i>
              <span href="" class="">admin@gmail.com</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer-col sponsors_container">
        <h3>Our Sponsors</h3>
        <ul class="sponsors_name">
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
          <li><a href="">Lorem Ipsum</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright_container">
    <p class="copyright">&copy; - 2022 Copyright Lorem, ipsum dolor.</p>
  </div>
</footer>
