<head>
  <link rel="stylesheet" href="/css/footer/styles.css" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />
  <script
    src="https://kit.fontawesome.com/d3942c0715.js"
    crossorigin="anonymous"
  ></script>
</head>
<footer id="footer">
  <div class="container-1">
    <div class="row">
      <div class="footer-col sponsors_container">
        <h3>Our Events</h3>
        <ul class="sponsors_name">
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScSZ8yKX-fwV7ue7i3lSveO6AMDEHWV5WpqqLz0PKb6MaV-_w/viewform?usp=sf_link">CodeX</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfndYdHIoXlG53lQenTC96lBtlWhLhbAtO8iKVi0oaHl-r_vQ/viewform?usp=sf_link">Web Design</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfNuQidLD-3KgYNRuFn0u0wiTQRT3eoNKRQA6e-ROHyVQsgdg/viewform?usp=sf_link">TechNutz</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScCTBJQo7OHTW1SRWvph5sicO3MmaCk7M2hJrFamHg6PGibJQ/viewform?usp=sf_link">Valorant</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSenYDagJXcfsjT22itkWEeb8eFz_HXdDI2viB_wnWxxfqCoPA/viewform?usp=sf_link">BGMI-TDM</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd4wVTKFeTqtA8DVVO-IBlX53YIRq7CdtLWkgVMPiJJUpmt-w/viewform?usp=sf_link">BGMI</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdYDaMGMlLSs6d4HMYGI3JA2A4yi2JCoXMGq8_i9OuxMuU8XQ/viewform?usp=sf_link">Chess</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScr_kQpKq0w3zAT8vexsE8A9jp4lCFwiJu5mC5JNG8a3YNSTQ/viewform?usp=sf_link">Rocket League</a></li>
        </ul>
      </div>
      <div class="footer-col logo">
        <img
          src="/Assets/images/Ziegers Logo - 20-01-2022 - modified (1).png"
          alt=""
          srcset=""
        />
        <div class="social_nedia_icons">
          <a href="https://www.instagram.com/ziegerscs/"><i class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/ziegerscs/"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
      <div class="footer-col contactUs_container">
        <h3>Contact</h3>
        <ul class="contactDetails_container">
          <li class="contactdetail">
            <p class="contact_name">Rishikesh Nambiar</p>
            <div class="contact_number">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span href="" class="">9619108569</span>
            </div>
            <div class="contact_email">
              <i class="fa fa-envelope"></i>
              <span href="" class="">rishikeshnambiar1120@gmail.com</span>
            </div>
          </li>
          <li class="contactdetail">
            <p class="contact_name">Soham Hegde</p>
            <div class="contact_number">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span href="" class="">9326759131</span>
            </div>
            <div class="contact_email">
              <i class="fa fa-envelope"></i>
              <span href="" class="">sohamhegde24@gmail.com</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright_container">
    <p class="copyright">&copy; - 2022 Copyright Ziegers</p>
  </div>
</footer>
<footer id="footer-2">
  <div class="container-1">
    <div class="row">
      <div class="footer-col logo" style="display: flex; flex-direction: column; align-items: center;">
        <img
          src="/Assets/images/Ziegers Logo - 20-01-2022 - modified (1).png"
          alt=""
          srcset=""
        />
        <div class="social_nedia_icons">
          <a href="https://www.instagram.com/ziegerscs/"><i class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/ziegerscs/"><i class="fa fa-facebook"></i></a>
        </div>
      </div>

      <div class="footer-col contactUs_container">
        <h3>Contact</h3>
        <ul class="contactDetails_container">
          <li class="contactdetail">
            <p class="contact_name">Rishikesh Nambiar</p>
            <div class="contact_number">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span href="" class="">9619108569</span>
            </div>
            <div class="contact_email">
              <i class="fa fa-envelope"></i>
              <span href="" class="">rishikeshnambiar1120@gmail.com</span>
            </div>
          </li>
          <li class="contactdetail">
            <p class="contact_name">Soham Hegde</p>
            <div class="contact_number">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span href="" class="">9326759131</span>
            </div>
            <div class="contact_email">
              <i class="fa fa-envelope"></i>
              <span href="" class="">sohamhegde24@gmail.com</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer-col sponsors_container">
        <h3>Our Events</h3>
        <ul class="sponsors_name">
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScSZ8yKX-fwV7ue7i3lSveO6AMDEHWV5WpqqLz0PKb6MaV-_w/viewform?usp=sf_link">CodeX</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfndYdHIoXlG53lQenTC96lBtlWhLhbAtO8iKVi0oaHl-r_vQ/viewform?usp=sf_link">Web Design</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfNuQidLD-3KgYNRuFn0u0wiTQRT3eoNKRQA6e-ROHyVQsgdg/viewform?usp=sf_link">TechNutz</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScCTBJQo7OHTW1SRWvph5sicO3MmaCk7M2hJrFamHg6PGibJQ/viewform?usp=sf_link">Valorant</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSenYDagJXcfsjT22itkWEeb8eFz_HXdDI2viB_wnWxxfqCoPA/viewform?usp=sf_link">BGMI-TDM</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd4wVTKFeTqtA8DVVO-IBlX53YIRq7CdtLWkgVMPiJJUpmt-w/viewform?usp=sf_link">BGMI</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdYDaMGMlLSs6d4HMYGI3JA2A4yi2JCoXMGq8_i9OuxMuU8XQ/viewform?usp=sf_link">Chess</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScr_kQpKq0w3zAT8vexsE8A9jp4lCFwiJu5mC5JNG8a3YNSTQ/viewform?usp=sf_link">Rocket League</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright_container">
    <p class="copyright">&copy; - 2022 Copyright Ziegers</p>
  </div>
</footer>
