
    <section id="gaming" style="max-width: 100%; overflow: hidden;">
      <h1 class="banner-title">Gaming</h1>
      <img
        src="/Assets/svgs/joystick.svg"
        id="joystick"
      ></img>
      <img
        src="/Assets/svgs/console.svg"
        id="console"
      ></img>
      <!-- <img src="/Assets/svgs/console.svg" alt="" /> -->
      <div>
        <h3 class="banner-desc" style="position: relative; width: 100%">
          Experiment an unique experience because different gamer personalities can mingle with their fellow gamers, and most importantly, show them who is a cut above the rest! <br> <br>
So be ready to call your Teammates and flank on Enemies house , checkmate your opponent, defend your Goal Post or plant your spike!
        </h3>
        <a href="/Games">
          <button class="button unselectable" id="banner-button">
            Participate<i class="fas fa-chevron-right"></i>
          </button>
        </a>
      </div>
    </section>
    <script type="module" src="/scripts/banner/client.js"></script>
