
    <section id="gaming" style="max-width: 100%; overflow: hidden;">
      <h1 class="banner-title">Gaming</h1>
      <img
        src="/Assets/svgs/joystick.svg"
        id="joystick"
      ></img>
      <img
        src="/Assets/svgs/console.svg"
        id="console"
      ></img>
      <!-- <img src="/Assets/svgs/console.svg" alt="" /> -->
      <div>
        <h3 class="banner-desc" style="position: relative; width: 100%">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English.
        </h3>
        <a href="./Games">
          <button class="button unselectable" id="banner-button">
            Participate<i class="fas fa-chevron-right"></i>
          </button>
        </a>
      </div>
    </section>
    <script type="module" src="/scripts/banner/client.js"></script>
