@import url('/css/global.css');

.aboutUs-header{
    min-height: 100vh;
    margin-bottom: 2rem;
}
.aboutUs-header .flex-column{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutUs-header .flex-column img{
    width: 40%;
    height: auto;
    margin: auto;
}
.aboutUs-header .flex-column .header-title{
    color: white;
    font-size: 8rem;
    text-align: center;
    font-family: var(--fs-josef-600);
    text-shadow: 10px 1px black;
}
#moon{
    position: fixed;
    right: -30%;
    max-height: 120%;
    top: 15rem;
    z-index: -1;
    -webkit-animation: rotationGlobe 45s linear infinite;
    -moz-animation: rotationGlobe 45s linear infinite;
    -ms-animation: rotationGlobe 45s linear infinite;
    -o-animation: rotationGlobe 45s linear infinite;
    animation: rotationGlobe 45s linear infinite;
}
#spaceship{
    position: fixed;
    left: 8%;
    top: 17rem;
    z-index: -1;
    max-height: 75%;
    width: auto;
    transform: rotateZ(35deg);
}
@media (max-width: 420px){
    .aboutUs-header .flex-column{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutUs-header .flex-column img{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .aboutUs-header .flex-column .header-title{
        color: white;
        font-size: 6rem;
        text-align: center;
        font-family: var(--fs-josef-600);
    }
    #moon{
        position: fixed;
        right: -30%;
        max-height: 120%;
        top: 30rem;
        z-index: -1;
        -webkit-animation: rotationGlobe 45s linear infinite;
        -moz-animation: rotationGlobe 45s linear infinite;
        -ms-animation: rotationGlobe 45s linear infinite;
        -o-animation: rotationGlobe 45s linear infinite;
        animation: rotationGlobe 45s linear infinite;
    }
    #spaceship{
        position: fixed;
        left: 8%;
        top: 3rem;
        z-index: -1;
        max-height: 45%;
        width: auto;
        transform: rotateZ(45deg);
    }
}
@media (max-width: 830px){
    .aboutUs-header .flex-column{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutUs-header .flex-column img{
        width: 60%;
        height: auto;
        margin: auto;
    }
    .aboutUs-header .flex-column .header-title{
        color: white;
        font-size: 6rem;
        text-align: center;
        font-family: var(--fs-josef-600);
    }
    #moon{
        position: fixed;
        right: -30%;
        max-height: 120%;
        top: 30rem;
        z-index: -1;
        -webkit-animation: rotationGlobe 45s linear infinite;
        -moz-animation: rotationGlobe 45s linear infinite;
        -ms-animation: rotationGlobe 45s linear infinite;
        -o-animation: rotationGlobe 45s linear infinite;
        animation: rotationGlobe 45s linear infinite;
    }
    #spaceship{
        position: fixed;
        left: 8%;
        top: 3rem;
        z-index: -1;
        max-height: 45%;
        width: auto;
        transform: rotateZ(45deg);
    }
}
@keyframes rotationGlobe {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
}
.trailer-container{
    /* background: var(--palette-black); */
    min-height: 80vh;
    width: 100%;
    padding: 20px 0 50px 0;
}

.trailer-container .trailer-section-title{
    margin: 0 0 2rem 2rem;
}

.trailer-container .trailer-section-title span{
    color: var(--palette-white);
    font-weight: 100;
    font-size: 72px;
    font-family: var(--fs-josef-600);
    margin:3rem;
}

.tablet{
    border: 1px solid white;
    border-radius: 15px;
    max-height: 16cm;
    padding: 1cm 0.7cm 0.75cm 0.7cm;
    align-items: center;
    box-shadow: 0px 5px 17px 0px white;;
    display: flex;
    margin:0 auto;
    flex-direction: column;
    background-color: #777777;
    width:70%;
}

.tablet .tablet-btn{
    /* border: 1px solid black; */
    box-shadow: 0px 2px 3px 0px black;
    position: relative;
    top: 20px;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
} 

.tablet .tablet-frame{
    width:100%;
    height: 13.3cm;;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.tablet .tablet-frame .videoWrapper{
    position: relative;
    top:0;
    left:0;
    padding-bottom: 56.25%;
}

.tablet .tablet-frame iframe{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height: 100% ;
}

@media only screen and (max-width:830px){
    .tablet{
        padding: 1cm 10px 0.75cm 10px;
        
    }
}

@media only screen and (max-width:600px){
    .trailer-container .trailer-section-title{
        text-align: center;
    }
    .trailer-container .trailer-section-title span{
        margin-left: 0;
        font-size: 50px;
    }
    .tablet{
        width:85%;
    }
}

/* -------- Event Section --------- */
#event-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    /* background-color: var(--palette-black); */
}

#event-section .event-section-title {
    margin: 2rem 0 2rem 2rem;
}

#event-section .event-section-title span {
    color: var(--palette-white);
    font-weight: 100;
    font-size: 72px;
    margin: 3rem;
    font-family: var(--fs-josef-600);
}

#event-section .container-1 {
    max-height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-self: center;
    padding-bottom: 2rem;
    margin:1rem 0 1rem 0;
}

#event-section .container-2 {
    max-height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-self: center;
    padding-bottom: 2rem;
    margin:2rem 0 2rem 0;
    /* border: 2px solid white; */
}

/* #event-section .event-container .event-logo-img{
position: relative;
left:0;
top:0;
width:30%;
} */

#event-section .event-container img {
    min-width: 300px;
    width: 300px;
    height: 300px;
    /* margin: 0 4rem 0 4rem; */
    /* position: relative;
left:0; */
    margin: 0 10px 0 10px;
}

#event-section .event-container .event-content {
    max-width: 600px;
    color: var(--palette-white);
}

#event-section .event-container .event-content h3 {
    font-weight: 100;
    font-size: 50px;
    font-family: var(--fs-josef-600);
    padding: 20px 0 20px 0;
}

@media only screen and (max-width: 900px) {
    #event-section .event-container img {
        min-width: 250px;
        width: 250px;
        height: 300px;
    }

    #event-section .event-container .event-content h3 {
        font-size: 40px;
    }
}

@media only screen and (max-width:600px) {
    #event-section .event-section-title{
        text-align: center;
    }
    #event-section .event-section-title span{
        margin-left: 0;
        font-size: 50px;
    }
}

@media only screen and (max-width: 530px) {
    #event-section .container-1 {
        flex-wrap: wrap;
    }

    #event-section .container-2 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #event-section .event-container .event-content {
        text-align: center;
    }
}
/* -------- Photo Gallery --------- */

#photoGallery{
    min-width: 100% !important;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
    min-height:100vh ;
    padding-bottom: 50px;
}

#photoGallery .photogallery-section-title{
    margin: 0 0 2rem 2rem;
}

#photoGallery .photogallery-section-title span{
    color: var(--palette-white);
    font-weight: 100;
    font-size: 72px;
    font-family: var(--fs-josef-600);
    margin:3rem;
}

#photoGallery .photos-container{
  margin: 0 auto;
  max-width : 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows:250px;
  grid-auto-flow: dense;
}

#photoGallery .photos-container .img-container img{
  width:100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

#photoGallery .photos-container .img-container img:hover{
  transform: scale(1.1);
  z-index: 100;
  box-shadow: 5px 5px 10px rgb(56, 56, 56);
}

#photoGallery .photos-container .horizontal-stretch{
  grid-column: span 2;
}

@media only screen and (max-width:1200px) {
} 
@media only screen and (max-width:830px) {
    #photoGallery .photos-container{
        width: 90%;
    }
}

@media only screen and (max-width:600px) {
    #photoGallery .photogallery-section-title{
        text-align: center;
    }
    #photoGallery .photogallery-section-title span{
        margin-left: 0;
        font-size: 50px;
    }
    #photoGallery .photos-container{
        /* display: flex; */
        width: 95%;
        /* flex-direction: column; */
        /* align-items: center; */
    }
}

@media only screen and (max-width:430px) {
  #photoGallery .photos-container{
    grid-gap: 10px;
   
  }

  #photoGallery .photos-container .horizontal-stretch{
      grid-column: span 1;
  }
}

/* ------------- Heads Section ------------ */

#heads-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

#heads-section .heads-section-title{
    margin: 2rem 0 2rem 2rem;
}

#heads-section .heads-section-title span{
    color: var(--palette-white);
    font-weight: 100;
    font-size: 72px;
    margin:3rem;
    font-family: var(--fs-josef-600);
}

#heads-section .container-heads{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    padding-bottom: 2rem;
}
#heads-section .container-heads img{
    max-width: 20rem;
    height: auto;
}

#heads-section .container-heads .heads-cards{
    color: var(--palette-white);
    max-height: 25ch;
    max-width: 35ch;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(180deg, transparent 40%, #777777);
    overflow: hidden;
    /* border: 1px solid #777777; */
    margin: 1rem;
    overflow: hidden;
    transition: all 0.6s ease;
}

#heads-section .container-heads .heads-cards:hover{
    /* background-color: rgb(110, 32, 161); */
    /* background-color: #777777; */
    background-image: linear-gradient(180deg, black 40%, #777777);
    box-shadow: 4px 8px 16px 0 rgba(245, 245, 245, 0.2);
}

/* #heads-section .container-heads .heads-cards:nth-child(2){
    background-color: rgb(131, 17, 17);
} */

/* #heads-section .container-heads .heads-cards:nth-child(2):hover{
    background-color: rgb(187, 16, 16);
} */

#heads-section .container-heads .heads-cards:hover .heads-img img{
    filter: drop-shadow(-35px 4px 2px rgba(0, 0, 0, 0.25));
}

#heads-section .container-heads .heads-cards .heads-desc{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width:55%;
    padding: 0 0 10px 10px;
}

#heads-section .container-heads .heads-cards .heads-desc .head-name{
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-size: 20px;
}

#heads-section .container-heads .heads-cards .heads-desc .card-heads-body{
    color: var(--palette-lightBlue);
}


#heads-section .container-heads .heads-cards .heads-img{
    height: 300px;
    width: 300px;
    position: relative;
}

#heads-section .container-heads .heads-cards .heads-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width:460px) {
    #heads-section .container-heads .heads-cards .heads-desc{
        font-size: 12px;
    }
    #heads-section .container-heads .heads-cards .heads-desc .head-name{
        font-size: 16px;
    }
}

@media only screen and (max-width:600px){
    #heads-section .heads-section-title{
        text-align: center;
    }
    #heads-section .heads-section-title span{
        margin-left: 0;
        font-size: 50px;
    }
}