<head>
    <link rel="stylesheet" href="/css/loader/styles.css">
</head>

<section class="loading" id="loader">
    <img src="/Assets/gifs/ziegers-logo.gif" alt="">
</section>
<script src="/scripts/loader/client.js" ></script>